.header-1st {
    height: 100px;
    border-bottom: 1px solid var(--border);
}

.header-1st .max-width {
    height: 73px;
    /* [정렬] space-between */
    /* -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; */
}

.header-1st h1 {
    margin-top: 33px;
}

.header-1st h1 .woori_logo {
    display: inline-block;
    width: 140px;
    height: 34px;
    background-image: url(../images/f_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-1st h1 .senior_logo {
    display: inline-block;
    width: 138px;
    height: 34px;
    margin-left: 28px;
    background-image: url(../images/logo\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-1st .size-ctrl {
    width: 267.242px;
    height: 46px;
    margin-top: 27px;
    margin-left: auto;
}

.size-ctrl h2 {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
}

.size-ctrl .plus-btn, .size-ctrl .minus-btn {
    width: 36px;
    height: 36px;
    border: 1px solid var(--border);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.size-ctrl .plus-btn {
    margin-left: 13px;
    background-image: url(../images/zoomIn.png);

}

.size-ctrl .minus-btn {
    margin-left: 4px;
    background-image: url(../images/zoomOut.png);
}

.size-ctrl .original-btn {
    margin-left: 4px;
    width: 90px;
    height: 38px;
    border: 1px solid var(--border);
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blue);
}

.header-1st .sns {
    width: 260px;      
    height: 46px;
    padding-left: 40px;
    margin-top: 27px;

    /* [정렬] space-between */
    -webkit-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.sns a {
    display: inline-block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sns .facebook {
    background-image: url(../images/sns_3.png);
}

.sns .blog {
    background-image: url(../images/sns_1.png);
}

.sns .youtube {
    background-image: url(../images/sns_2.png);
}

.sns .instagram {
    background-image: url(../images/sns_4.png);
}

.header-2nd {
    height: 60px;
}

.main-nav ul {
    height: 100%;
}

.main-nav li {
    padding: 0 40px 0 40px;
    font-size: 2.2rem;
    font-weight: 800;
    height: 100%;
}

.main-nav li a {
    vertical-align: middle;
}

.main-nav li:last-child {
    padding-right: 0;
}

.header-2nd .login {
    margin-top: 20px;
    margin-left: auto;
    font-size: 1.6rem;
    color: var(--light-gray);
}

.login p {
    display: inline-block;
}

.login .sign-up {
    padding-left: 24px;
}

.header-2nd .search-btn {
    width: 26px;
    height: 27px;
    margin-top: 17px;
    margin-left: 29px;
    background-image: url(../images/btn_search_blue_pc.png);
    background-repeat: no-repeat;

}

@media screen and (max-width: 1024px) {
    .header-1st {
        height: 50px;
    }

    .header-2nd {
        height: 40px;
    }

    .header-1st .max-width {
        height: 45px;
    }

    .header-1st h1 .woori_logo {
        width: 83px;
        height: 20px;
    }

    .header-1st h1 .senior_logo {
        width: 82px;
        height: 20px;
    }

    .header-1st h1 {
        margin-top: 15px;
    }

    .header-1st .size-ctrl {
        margin-top: 27px;
    }
    
    .header-1st .sns {
        margin-top: 27px;
    }

    .main-nav li {
        padding: 10px 0 10px 0;
        font-size: 1.5rem;
        font-weight: normal;
    }
    
    .header-2nd .search-btn {
        width: 20px;
        height: 20px;
    }
}