:root {
    --max-width: 1200px;
    --border: rgb(237, 237, 237);
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

header {
    background-color: pink;
}

.header-1st {
    height: 100px;
    border-bottom: 1px solid var(--border);
}

.header-2nd {
    height: 60px;
}

.main div {
    background-color: aqua;
}

footer {
    background-color: blueviolet;
}

@media screen and (max-width: 1024px) {
    .header-1st {
        height: 50px;
    }

    .header-2nd {
        height: initial;
    }
}