:root {
    --max-width: 1200px;
    --border: rgb(237, 237, 237);
    --blue: rgb(40, 139, 204);
}

.max-width {
    max-width: var(--max-width);
    margin: 0 auto;
}

.flex-v-center {
    /* (기본필수) flex container 생성 */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    /* [정렬] 교차축 - 가운데 기준 */
    -webkit-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: pink;
}

.main div {
    background-color: aqua;
    height: 200px;
}

footer {
    background-color: blueviolet;
}

@media screen and (max-width: 1024px) {
    .header-1st {
        height: 50px;
    }

    .header-2nd {
        height: initial;
    }

    .header-1st .max-width {
        height: 45px;
    }
}