.section1 {
    display: block;
    height: 520px;
    background-image: url(../images/section1-bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.financial-service .layout-financial {
    overflow: hidden;
    margin-top: 40px;
}

.layout-financial .layout-1 {
    float: left;
    width: 580px;
    height: 0px;
    padding-top: calc(280 / 1200 * 100%);
    background-image: url(../images/retirement.jpeg);
    background-size: cover;
}

.layout-financial .layout-2 {
    float: right;
    width: 580px;
    height: 0px;
    padding-top: calc(280 / 1200 * 100%);
    background-image: url(../images/main_event.jpg);
    background-size: cover;
}

@media screen and (max-width:1230px) {
    .layout-financial .layout-1, .layout-financial .layout-2 {
        width: calc(565 / 1170 * 100%);
    }

    .layout-financial img {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .section1 {
        height: auto;
        background-image: none;
    }

    .section1 img {
        position: static;
        clip-path: initial;
        width: 100%;
        height: auto;
        margin: 0;
        overflow: initial;
    }
}
